
.restaurant-carousel {
    overflow-x: auto;
    white-space: nowrap;
    padding: 16px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .carousel-list {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    scroll-snap-align: start;
    padding-bottom: 10px;
  }
  
  /* Custom scrollbar styling */
  .restaurant-carousel::-webkit-scrollbar {
    height: 8px;
  }
  
  .restaurant-carousel::-webkit-scrollbar-thumb {
    background-color: #00b391;
    border-radius: 0;
  }
  
  .restaurant-carousel::-webkit-scrollbar-track {
    background: transparent;
  }
  

  .view-all-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .view-all-button {
    background-color: #00b391;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 30px;
  }
  
  .view-all-button:hover {
    background-color: #009c7d;
  }
  
  .view-all-button::before {
    content: '→';
    font-size: 1.5rem;
  }
  
  .view-all-text {
    color: #00b391;
    font-size: 0.9rem;
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
  }
  

  @media (max-width: 768px) {
    .carousel-list {
      gap: 12px;
    }
  
    .view-all-button {
      width: 50px;
      height: 50px;
      font-size: 0.3rem;
      margin: 10px;
    }
  
    .view-all-text {
      font-size: 0.8rem;
    }
  }
  